<h1>All Movies</h1>

<ul>
    {{#each movies}}
    <li>
        <h3>{{movie}}</h3>
        <button data-movieid="{{this.id}}" class="delmovie">Delete Movie</button>
    </li>
    {{/each}}
</ul>

<hr>

<h2>Add a Movie</h2>
<form action="/" method="POST" id="createmovie">
	<textarea type="text" name="movie"></textarea>

	<button type="submit">Submit</button>
</form>

<h2>Update Movie</h2>
<form id="updatemovie">
    <select name="id">
        {{#each movies}}
        <option value="{{this.id}}">{{this.movie}}</option>
        {{/each}}
    </select>
    <textarea name="movie" type="text" placeholder="movie"></textarea>
    <button type="submit">Update Movie</button>
</form>


<script type="text/javascript">

{{!-- create movie form handling --}}
$("#createmovie").on("submit", function(event) {
    event.preventDefault();
    var newMovie = {
        movie: $("#createmovie [name=movie]").val().trim()
    };

    $.ajax("/api/movies", {
        type: "POST",
        data: newMovie
    }).then(function() {
        console.log("added movie");
        location.reload();
    })
})


{{!-- Update movie form --}}
$("#updatemovie").on("submit", function(event) {
    event.preventDefault();
    var id = $("[name=id]").val().trim();
    var updatedMovie = {
        movie: $("#updatemovie [name=movie]").val().trim()
    };
    console.log(id, updatedMovie)

$.ajax("/api/movies/" + id, {
      type: "PUT",
      data: updatedMovie
    }).then(
      function() {
        console.log("updated id ", id);
        location.reload();
      }
    );
});


{{!-- Delete Movie --}}
$(".delmovie").on("click", function(event) {
    var id = $(this).data("movieid");
    $.ajax("/api/movies/" + id, {
        type: "DELETE"
    }).then(function() {
        console.log("deleted id: ", id);
        location.reload();
    })
})
</script>